# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_output_df = pd.read_csv("Cities_Output.csv")
cities_output_df.dropna()
cities_output_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Rikitea,5,PF,1584336617,79,-23.12,-134.97,79.47,11.25
1,1,Qaanaaq,100,GL,1584336617,47,77.48,-69.36,-0.98,7.20
2,2,Nikolskoye,90,RU,1584336617,80,59.70,30.79,34.00,22.37
3,3,Vaini,75,TO,1584336618,88,-21.20,-175.20,82.40,10.29
4,4,Port Alfred,99,ZA,1584336618,98,-33.59,26.89,63.00,3.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [5]:
# Store latitude and longitude in locations
locations = cities_output_df[["Lat", "Lng"]]
weight = cities_output_df["Humidity"].astype(float)

In [6]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
hotel_df = cities_output_df[(cities_output_df['Max Temp'] > 70) &
                            (cities_output_df['Max Temp'] < 80) &
                            (cities_output_df['Wind Speed'] < 10) &
                            (cities_output_df['Cloudiness'] == 0)
                           ]
hotel_df.dropna()
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
239,239,Ibrā’,0,OM,1584336681,46,22.69,58.53,73.24,6.46
336,336,Stann Creek Town,0,BZ,1584336706,93,16.97,-88.23,73.00,3.00
338,338,Ifanadiana,0,MG,1584336707,69,-21.30,47.63,75.87,1.21
365,365,Pokhara,0,NP,1584336713,27,28.23,83.98,77.76,4.07
391,391,Presidente Epitácio,0,BR,1584336719,88,-21.76,-52.12,72.34,2.84
483,483,Saquarema,0,BR,1584336744,83,-22.92,-42.51,78.80,4.70
501,501,Umluj,0,SA,1584336748,27,25.02,37.27,76.26,4.63

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
#hotel_df.loc[10, ] = ""
#hotel_df

In [36]:
# find the closest hotel to coordinates

lat_lngs = []
lat_lngs = zip(hotel_df['Lat'], hotel_df['Lng'])

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": lat_lngs,
    "radius": "5000",
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get hotel type from df
#    hotel_name = row['Hotel Name']

    # add keyword to params dict
#    params['keyword'] = hotel_type

    # assemble url and make API request
#    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']

    print(results)
    
#    try:
#    print(f"First hotel within 5000 m of Ibrā’ is {results[0]['name']}.")
        
#    hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
#        types_df.loc[index, 'address'] = results[0]['vicinity']
#        types_df.loc[index, 'price_level'] = results[0]['price_level']
#        types_df.loc[index, 'rating'] = results[0]['rating']
        
#    except (KeyError, IndexError):
#        print("Missing field/result... skipping.")
        
#    print("------------")

[]
[]
[]
[]
[]
[]
[]

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map